<!DOCTYPE html>
<html>
  <head>
    <!-- <script src="happify.js"></script> -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ ENV_STATIC_ASSETS_URL }}/ensemble.css">
  </head>
  <body class="landing">   
    <div class="tape">
      <p> Developing using Jinja templates {{ name }} </p>
      <p><img class="stub" src="{{ ENV_STATIC_ASSETS_URL }}/ensemble/image.svg" alt="Image asset from static path"></p>
      <p>Here should be a public page according to <a href="https://www.figma.com/file/9POgor5LFGt3gxR9qkKlYi/%5BExternal%5D-Ensemble-Design" target="_blank">the design</a></p>
      <!-- new AssesmentSignUpFlow() -->
    </div>
  </body>
</html>


