<section class="ensemble-landing-module module-7">
  <!-- TODO refactor css selectors -->
  <article class="module-content-wrapper module-content">
    <header class="module-content__header module-header">
      <h2 class="module-header__title">How it Works</h2>
      <p class="module-header__description"></p>
    </header>
    <main class="module-content__body advantages advantages--how-it-works">
      <!-- TODO will change html tags for semantic  -->
      <article class="advantage">
        <header class="advantage__header">
          <svg class="advantage__icon" viewBox="0 0 139 93">
            <use href="#darts" />
          </svg>
        </header>
        <p class="advantage__description advantage__description--how-it-works">
          Ensemble delivers skills training based on CBT, mindfulness and positive psychology.
        </p>
      </article>
      <article class="advantage">
        <header class="advantage__header">
          <svg class="advantage__icon" viewBox="0 0 139 93">
            <use href="#darts" />
          </svg>
        </header>
        <p class="advantage__description advantage__description--how-it-works">
          Activities are thoughtfully sequenced to achieve the desired outcome.
        </p>
      </article>
      <article class="advantage">
        <header class="advantage__header">
          <svg class="advantage__icon" viewBox="0 0 139 93">
            <use href="#darts" />
          </svg>
        </header>
        <p class="advantage__description advantage__description--how-it-works">
          Measures patient mental health improvement and outcomes using clinically validated instruments (PHQ-9 and
          GAD-7).
        </p>
      </article>
      <article class="advantage">
        <header class="advantage__header">
          <svg class="advantage__icon" viewBox="0 0 139 93">
            <use href="#darts" />
          </svg>
        </header>
        <p class="advantage__description advantage__description--how-it-works">
          Facilitates connection to immediate resources if patient reports thinking about self harm; you'll be notified
          as well.
        </p>
      </article>
      <article class="advantage">
        <header class="advantage__header">
          <svg class="advantage__icon" viewBox="0 0 139 93">
            <use href="#darts" />
          </svg>
        </header>
        <p class="advantage__description advantage__description--how-it-works">
          Includes a physician dashboard for patient monitoring.
        </p>
      </article>
      <article class="advantage">
        <header class="advantage__header">
          <svg class="advantage__icon" viewBox="0 0 139 93">
            <use href="#darts" />
          </svg>
        </header>
        <p class="advantage__description advantage__description--how-it-works">
          Uses the science of engagement to increase patient adherence.
        </p>
      </article>
    </main>
  </article>
</section>