<section class="ensemble-landing-module module-9">
  <article class="module-content-wrapper module-content">
    <header class="module-content__header">
      Enhanced Care
    </header>
    <main class="module-content__body">
      Ensemble is an investigational medical device and is not intended to replace any other treatment your patients may
      be receiving, such as medication or talk therapy. Regular assessments, feedback to you and a wide library of
      activities and lessons work in concert to help enhance their treatment.
    </main>
    <section>
      <article>
        <header>
          Regular Assessments
          are Administered
          to the Patient
        </header>
        <main>
          Patients are assessed biweekly over the 10-week course of treatment.
        </main>
      </article>
      <article>
        <header>
          Objective Measures
          are Tracked in
          a Provider Dashboard
        </header>
        <main>
          A dashboard provides scores from validated assessment measures in addition to insights about your patients'
          engagement and use. These data may be used to further personalize treatment, inform case management, or
          support claims-based reimbursement.
        </main>
      </article>
    </section>
  </article>
</section>