<aside class="module-3-therapeutics module-3-therapeutics--mask">
  <!-- <img src="static/img/physicians/dreamer.jpg" alt="" class="dreamer-video-fake"> -->
  <div class="movie-wrapper movie-wrapper--digital-therapeutics">
    <video id="video" class="movie-wrapper__video background-video" controls preload="metadata" poster="{{ ENV_STATIC_ASSETS_URL }}/img/physicians/dreamer.jpg">
			<source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/VolkswagenGTIReview.mp4" type="video/mp4">
		</video>
		<div id="video-controls" class="background-video__controls" data-state="hidden">
			<!-- <button id="playpause" type="button" data-state="play">Play/Pause</button> -->
      <button class="play-button">
        <svg class="play-button__play-icon">
          <use class="" href="#play" />
        </svg>
        <svg class="play-button__background" width="100%" height="100%">
          <use href="#play-background" />
        </svg>
        <svg class="play-button__border-background" width="100%" height="100%">
          <use href="#play-border" />
        </svg>
      </button>
			<button id="stop" type="button" data-state="stop">Stop</button>
		</div>
    <!-- <video class="movie-wrapper__video therapeutics-movie" controls>Your browser does not support the &lt;video&gt; tag.
      <source src="https://www.youtube.com/v/R3ymHMgFAps"/>
    </video> -->
    <!-- <iframe class="movie-wrapper__video" width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe> -->
  </div>
</aside>