<section class="ensemble-landing-module module-6">
  <article class="module-content-wrapper">
    <header class="module-6__title module-header">
      <h2 class="module-header__title">A New Way Forward</h2>
    <p class="module-header__description module-header__description--new-way-forward">Ensemble can give you the tools to help reduce stress and
        develop the freedom to live more fully.</p>
    </header>
    <main class="module-6__content advantages module-content">
      <article class="advantage">
        <h3 class="advantage__title">
          Convenient
        </h3>
        <p class="advantage__description">
          No appointment necessary, available anytime, anywhere and involves only two short activities for a total of
          15-30 minutes per day.
        </p>
      </article>
      <article class="advantage">
        <h3 class="advantage__title">
          Manageable
        </h3>
        <p class="advantage__description">
          Treatment can be completed in 10 weeks.
        </p>
      </article>
      <article class="advantage">
        <h3 class="advantage__title">
          Enjoyable
        </h3>
        <p class="advantage__description">
          Ensemble’s user-friendly interface delivers short, engaging daily activities that are intuitive and pleasing
          to users.
        </p>
      </article>
      <article class="advantage">
        <h3 class="advantage__title">
          Safe and Effective
        </h3>
        <p class="advantage__description">
          Ensemble may teach your patients skills to help gain control over MDD or GAD and potentially feel better.
        </p>
      </article>
      <article class="advantage">
        <h3 class="advantage__title">
          Clinically-Developed
        </h3>
        <p class="advantage__description">
          Researchers, scientists and doctors developed Ensemble using skills based on CBT, mindfulness, and related
          forms of behavioral therapy, including positive psychology.
        </p>
      </article>
      <article class="advantage">
        <h3 class="advantage__title">
          Advancing Science
        </h3>
        <p class="advantage__description">
          Patients diagnosed with Major Depressive Disorder (MDD) or Generalized Anxiety Disorder (GAD) may be eligible
          to participate in a research study. Participants will be compensated for their time.
        </p>
      </article>
    </main>
  </article>
</section>