<section class="ensemble-landing-module module-5">
  <div class="module-content-wrapper module-content-wrapper--row">
    <article class="module-content module-content--digital-therapeutics">
      <h2 class="module-content__header module-content__header--new-way-forward module-title module-5__title">A New Way Forward</h2>
      <main class="module-content module-5__content">Ensemble is a software-based Prescription Digital Therapeutic
        (PDT). It’s accessible via phone or computer and may
        help create meaningful behavior change for people who use it. </main>
    </article>
  </div>
</section>