<aside class="module-3-therapeutics module-3-therapeutics--mask">
  <!-- <img src="static/img/physicians/dreamer.jpg" alt="" class="dreamer-video-fake"> -->
  <div class="movie-wrapper movie-wrapper--digital-therapeutics">
    <!-- <video class="movie-wrapper__video therapeutics-movie" controls>Your browser does not support the &lt;video&gt; tag.
      <source src="https://www.youtube.com/v/R3ymHMgFAps"/>
    </video> -->
    <iframe class="movie-wrapper__video" width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
  </div>
</aside>