<div class="ensemble-landing-module module-11">
  <section class="module-content-wrapper module-content-wrapper--row  module-content cards">
    <article class="cards__item card">
      <h3 class="card__header">
        Regular Assessments
        are Administered
        to&nbspthe Patient
      </h3>
      <main class="card__description">
        Patients are assessed biweekly over the 10-week course of treatment.
      </main>
    </article>
    <article class="cards__item card">
      <h3 class="card__header">
        Objective Measures
        are Tracked in
        a Provider Dashboard
      </h3>
      <main class="card__description">
        A dashboard provides scores from validated assessment measures in addition to insights about your patients'
        engagement and use. These data may be used to further personalize treatment, inform case management, or
        support claims-based reimbursement.
      </main>
    </article>
  </section>
</div>