<section class="ensemble-landing-module module-9">
  <article class="module-content-wrapper module-content module-content--science">
    <header class="module-content__header">
      The Science
    </header>
    <main class="module-content__body description">
      <p class="description__item">
        Happify Health’s digital therapeutic products have helped more than 5 million users of all ages improve their
        mental health. Ensemble is our latest digital therapy and was born out of a desire to make treatment even more
        accessible to all and help improve people’s quality of life in a tangible way.
      </p>
      <p class="description__item">
        Ensemble was created with experts, research scientists, and doctors who are passionate about improving lives.
        This
        is the first and only transdiagnostic digital treatment for MDD or GAD and based on similar products, upon which
        Ensemble was built, our app is well-tolerated and impactful for patients.
      </p>
      <p class="description__item"> Data shows that people with MDD are 5.7 times more likely to have GAD than people
        without MDD.
      </p>
      <p class="description__item">
        Additionally, 20% of people with major depression also meet criteria for GAD in a given 12 month period.
      </p>
      <button class="button">Learn More</button>
    </main>
  </article>
</section>