<section class="ensemble-landing-module module-8">
  <div class="module-content-wrapper module-content-wrapper--two-column">
    <article class="module-content">
      <h2 class="module-content__header module-title">
        Anna module placeholder
      </h2>
      <main class="module-content__body module-content">
        Aenean eu rutrum est. Vestibulum ex est, fermentum ut gravida at, consequat
        eu eros. Quisque tincidunt malesuada felis, posuere pharetra nisl semper vel. Nam ullamcorper augue velit, et
        faucibus felis efficitur vitae. Curabitur sed velit vitae lorem egestas volutpat. Cras ullamcorper commodo
        ipsum.
      </main>
    </article>
    <aside class="module-content-image">
      <img class="phone" src="{{ ENV_STATIC_ASSETS_URL }}/svg/physicians/mobile.svg">
    </aside>
  </div>
</section>