<section class="ensemble-landing-module module-2">
  <div class="module-content-wrapper">
    <h2 class="module-title module-2__title">A digital approach to treating Major Depressive Disorder (MDD)
      or Generalized
      Anxiety Disorder
      (GAD)</h2>
    <p class="module-content module-2__content">
      Under the FDA’s policy to treat psychiatric disorders during this public health emergency, Happify Health created
      a
      new product called Ensemble.
    </p>
    <button class="button module-2__button">Read FDA Guidance</button>
  </div>
</section>