<div class="ensemble-landing-module module-10">
  <!-- TODO change tags and selectors -->
  <div class="module-content-wrapper">
    <article class=" module-content module-content--enhanced-care" >
      <h2 class="module-content__header module-title">
        Enhanced Care
      </h2>
      <main class="module-content__body">
        Ensemble is an investigational medical device and is not intended to replace any other treatment your patients may
        be receiving, such as medication or talk therapy. Regular assessments, feedback to you and a wide library of
        activities and lessons work in concert to help enhance their treatment.
      </main>
    </article>
  </div>
</div>