<section class="ensemble-landing-module module-3">
  <div class="module-content-wrapper module-content-wrapper--row module-content-wrapper--with-aside">
    <article class="module-content module-content--digital-therapeutics">
      <header class="module-content__header module-3__title">What Are Digital Therapeutics?</header>
      <main class="module-content module-3__content">Digital therapeutics are a new types of digital health software
        intervention. These web applications are designed
        to help treat particular diseases or conditions and are private, secure and easy to use. </main>
    </article>
  </div>
  <div class="module-content-wrapper module-content-wrapper--row">
    <article class="module-content module-content--covid-things">
      <header class="module-content__header module-4__title">Because of COVID, the world is confronting a mental health
        crisis of
        unimaginable proportions.</header>
      <main class="module-content__body description module-4__content">
        <p class="description__item">There’s a growing gap between the number of people who need care, and the amount of
          providers available to
          deliver
          it.
          Ensemble helps provide you with the support to give your patients the best care possible.</p>
        <p class="description__item">Patients diagnosed with MDD or GAD may be eligible to participate in virtual a
          research study of Ensemble. This
          research study is designed to test the safety and efficacy of this investigational medical device.
          Participants
          will
          be compensated for their time.</p>
        <p class="description__item">During the study participants will complete two short, engaging activities right
          from a phone or computer for a
          total of 15-30 minutes per day. Through participationg, they’ll learn skills that may help them gain better
          control
          over their anxiety or depression.</p>
        <p class="description__item">Ensemble will be provided at no cost to participants and they can withdraw from the
          study at any time without
          penalty.</p>
      </main>
      <footer class="module-content__footer">
        <button class="button">
          Learn more about the study
        </button>
      </footer>
    </article>
  </div>

</section>