* {
  font-family: 'Neue World', sans-serif;
}

.button {
  padding: 2rem 5rem;
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #fff;
  background: #3b9bd8;
  border-radius: 7.2rem;
  letter-spacing: -0.01em;
}

.description {
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2.6rem;
  line-height: 3.2rem;
  letter-spacing: 0.005em;
  text-align: left;

  &__item {
    margin-bottom: 2rem;
  }
}

.logo {
  color: @SeabedBlue;
}

.module-content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-title {
  font-weight: 400;
  font-size: 8.6rem;
}

.page-subtitle,
.module-content {
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2.6rem;
  // line-height: 3.2rem;
}

.module-title {
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 8.7rem;
  color: #1d4557;
  // letter-spacing: 0;
  text-align: left;
}

.module-content {
  line-height: 3.2rem;
  color: #1d4557;
  letter-spacing: 0.005em;
  text-align: left;
}

.module-1 {
  &__title {
    margin-top: 22.4rem;
    margin-bottom: 10rem;
  }

  &__description {
    margin-bottom: 26.8rem;
  }
}

.module-2 {
  display: flex;

  &__title {
    // margin: 0 auto;
    margin-top: 22.4rem;
    margin-bottom: 4.3rem;
    max-width: 88rem;
  }

  &__content {
    margin-bottom: 2.4rem;
    width: 77rem;
  }

  & .module-title {
    // padding-left: 7rem;
  }

  & .button {
    margin-right: auto;
    margin-bottom: 26.8rem;
  }

  // & .module-content {

  // }
}

.module-3 {
  &__content {
    font-family: 'GT Walsheim', sans-serif;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.005em;
    text-align: left;
  }

  &__title {
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 8.7rem;
    letter-spacing: 0;
    text-align: left;
  }
}

.module-4 {
  &__title {
    font-weight: 400;
    font-size: 4.6rem;
    line-height: 4.8rem;
    letter-spacing: -0.01em;
    text-align: left;
  }
}
