& {
  font-family: 'Neue World', sans-serif;
}

* {
  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages {
  display: grid;
  grid-gap: 8rem 4rem;
  grid: auto-flow dense / 33rem 1fr 37rem;

  &--how-it-works {
    grid-gap: 8rem 4rem;
    grid: auto-flow dense / 1fr 1fr 1fr;
  }
}

.advantage {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    height: 19rem;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 1.8rem;
    font-size: 4.2rem;
    line-height: 4.6rem;
  }

  &__description {
    padding-right: 4rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: left;

    &--how-it-works {
      padding: 1rem 3rem;
      text-align: center;
    }
  }

  &__icon {
    width: 15rem;
  }
}

.background-video {
  object-fit: cover;

  &__controls {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.button {
  padding: 2rem 6rem;
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #fff;
  background: #3b9bd8;
  border-radius: 7.2rem;
  letter-spacing: -0.01em;
}

.cards {
  justify-content: space-between;

  &__item {
    margin-left: 8.3rem;
  }

  &__item:first-child {
    margin-left: 0;
  }
}

.card {
  padding: 2rem;
  height: 42.5rem;
  width: 54rem;
  background: #e8e6df;

  &__header {
    margin-bottom: 4.2rem;
    width: 35rem;
    font-size: 3.4rem;
    line-height: 3.944rem;
  }

  &__description {
    width: 46rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.description {
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2.6rem;
  line-height: 3.2rem;
  letter-spacing: 0.005em;
  text-align: left;

  &__item {
    margin-bottom: 3.3rem;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.group-Seafoam--masked {
  clip-path: url('#physicians-seafoam-path-lg-1');
}

.logo {
  color: @SeabedBlue;
}

.module-content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &--row {
    flex-direction: row;
  }

  &--two-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    // TODO remove that shit
    justify-content: space-between;
  }
}

.module-content-image {
  flex-basis: 45%;
  flex-shrink: 0;
}

.phone {
  width: 100%;
  object-fit: contain;
}

.page-title {
  font-weight: normal;
  font-size: 8.6rem;
}

.page-subtitle,
.module-content {
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2.6rem;
  // line-height: 3.2rem;
}

.module-content--digital-therapeutics {
  width: 59rem;
}

.module-content--enhanced-care {
  width: 59rem;
}

.module-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &__title {
    margin-bottom: 2.8rem;
    font-size: 7.5rem;
    line-height: 8.7rem;
  }

  &__description {
    font-family: 'GT Walsheim', sans-serif;
    font-size: 2.2rem;

    &--new-way-forward {
      max-width: 50rem;
    }
  }
}

.module-title {
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 8.7rem;
  // color: #1d4557;
  // letter-spacing: 0;
  text-align: left;
}

.module-content {
  line-height: 3.2rem;
  color: #1d4557;
  letter-spacing: 0.005em;
  text-align: left;

  &__header {
    // TODO move out font just margins and sizes
    margin-bottom: 2rem;
    font-family: 'Neue World', sans-serif;

    &--new-way-forward {
      margin-bottom: 4rem;
    }
  }

  &__body {
    margin-bottom: 6rem; //3.6rem
  }

  // &__aside {
  // }
}

.module-content--science {
  color: #fff;
}

.movie-wrapper {
  position: relative;
  padding-bottom: 100%;
  height: 0;

  &__video {
    position: absolute;
    // height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }

  &--digital-therapeutics {
    // padding-bottom: 56.25%;
  }
}

.module-3-therapeutics {
  position: absolute;
  height: 120rem;
  height: 141.7rem;
  width: 99.1rem;
  background: green;
  top: -7rem;
  right: -14rem;

  &--mask {
    clip-path: url('#physicians-seafoam-video-mask-dreamer');
  }

  & .therapeutics-movie {
    position: relative;
    height: auto;
    width: 99rem;
  }
}

.module-5-photo-aside {
  position: absolute;
  // height: 111rem;
  // width: 89.1rem;
  background: green;
  top: -31rem;
  right: -62px;

  &--mask {
    clip-path: url('#physicians-seafoam-photo-mask-girl');
  }
}

.module-11-photo-aside {
  position: absolute;
  height: 90rem;
  width: 90rem;
  top: -38rem;
  right: -33rem;

  &--mask {
    clip-path: url('#physicians-photo-mask-man');
  }
}

.module-1 {
  & .module-content-wrapper {
    max-width: 100rem;
  }

  &__title {
    margin-top: 29.3rem;
    margin-bottom: 12.8rem;
    line-height: 8.8rem;
  }

  &__content {
    margin-bottom: 30.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }
}

.module-2 {
  display: flex;

  & .module-content-wrapper {
    padding-left: 10.3rem;
    max-width: 97rem;
  }

  &__title {
    margin-top: 2.1rem;
    margin-bottom: 4.3rem;
  }

  &__content {
    margin-bottom: 5.4rem;
    width: 77rem;
  }

  & .module-title {
    // padding-left: 7rem;
  }

  & .button {
    margin-right: auto;
    margin-bottom: 26.8rem;
  }

  // & .module-content {

  // }
}

.module-3 {
  color: #1d4557;

  & .module-content-wrapper {
    margin-top: 34rem;
    margin-bottom: 33.2rem;
    padding-right: 3rem;
    padding-left: 4rem;
    max-width: 85rem;

    &--with-aside {
      max-width: 125rem;
    }
  }

  &__content {
    max-width: 50rem;
    font-family: 'GT Walsheim', sans-serif;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.005em;
    text-align: left;
  }

  &__title {
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 8.7rem;
    letter-spacing: 0;
    text-align: left;
  }

  & .button {
    margin-right: auto;
  }
}

.module-4 {
  & .module-content-wrapper {
    margin-top: 35rem;
    margin-bottom: 33.2rem;
    max-width: 110rem;
  }

  &__title {
    margin-bottom: 4.5rem;
    font-weight: 400;
    font-size: 4.6rem;
    line-height: 4.8rem;
    letter-spacing: -0.03em;
    text-align: left;
  }

  & .button {
    margin-top: 5.5rem;
    margin-right: auto;
    margin-bottom: 26.8rem;
  }
}

.module-5 {
  & .module-content-wrapper {
    margin-top: 16.2rem;
    margin-bottom: 25rem;
    max-width: 117rem;
  }

  &__content {
    padding-right: 8rem;
  }
}

.module-6 {
  & .module-content-wrapper {
    margin-top: 23.6rem;
    margin-bottom: 25rem;
    max-width: 117rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 9rem;
  }

  &__content {
    margin-bottom: 8.4rem;
  }
}

.module-7 {
  & .module-content-wrapper {
    margin-top: 22.6rem;
    margin-bottom: 25rem;
    max-width: 108.2rem;
  }
}

.module-8 {
  & .module-content-wrapper {
    margin-top: 14rem;
    margin-bottom: 25rem;
    max-width: 117rem;
  }

  & .module-content {
    max-width: 57rem;
  }
}

.module-9 {
  & .module-content-wrapper {
    margin-top: 15rem;
    margin-bottom: 25rem;
    max-width: 80rem;
  }
}

.module-10 {
  & .module-content-wrapper {
    margin-top: 16rem;
    margin-bottom: 10rem;
    max-width: 70rem;
  }
}

.module-11 {
  & .module-content-wrapper {
    margin-top: 4rem;
    margin-bottom: 30rem;
    max-width: 116rem;
  }
}
