<section class="landing-module module-10">
  <div class='module-10__container'>
    <h1 class="module-10__title">Ready to Start?<br>All You Need is a Prescription</h1>
    <div class="module-10__prescription-row">
      <a class="module-10__prescription-item" href='#'>From your own healthcare provider</a>
      <a class="module-10__prescription-item module-10__prescription-item_active" href='#'>From an online healthcare provider</a>
    </div>
    <p class="module-10__content">Speak to your healthcare provider to find out if ensemble is right for you. If it is, you’ll get a prescription digitally on the spot on your personal smart device or computer. Ready to start? </p>
    <button class='module-10__button'>Online Doctors Available</button>
  </div>
</section>  
