<section class="ensemble-landing-module module-1">

  <h1>Treatment for depression and anxiety is now digital</h1>
  
  <img width="1000" src="{{ ENV_STATIC_ASSETS_URL }}/elia-pellegrini-VhoL59SInck-unsplash 1.png">

  <div class="module-1__text-block">
    <h3>A digital approach to treating Major Depressive Disorder (MDD) or Generalized Anxiety Disorder (GAD)</h3>
    <p>Recently, The FDA granted Emergency Use Authorization to digital health therapeutics for psychiatric disorders. The promise of digital therapeutics is here, and so is Ensemble: the first single Prescription Digital Therapeutic (PDT) to help you gain control over MDD or GAD.</p>
</div>
</section>