<section class="landing-module module-8">
<!--  <img src="{{ ENV_STATIC_ASSETS_URL }}/svg/shape_2.svg" alt="" class="module-7__shape-container">-->
  <div class='module-8__container'>
    <h1 class="module-8__title">Anna</h1>
    <div class="module-8__content">
      <p>Anna is a novel AI-powered chatbot trained by a team of clinicians, psychotherapists, content creators, writers, data scientists, and research psychologists built to deliver mental health interventions and help solve behavioral health conditions.</p>
      <p>She is a therapist/coach accessible through various Happify’s “tracks” and will be available on Ensemble. Anna took 4 years to create.</p>
    </div>
    <button class='module-8__button'>Learn More</button>  
  </div>
</section>  



  