<section class="ensemble-landing-module module-6">
  <h1 class="module-6__title">Empower Yourself</h1>
  <div class="module-6__content">
    Ensemble helps you stress less and take control of negative thoughts and feelings, giving you the tools to implement real, long-lasting change in your state of mind. Ultimately, using Ensemble allows you the freedom to live more fully:
  </div>
  <div class="module-6__row">
    <div class="module-6__col">
      <img class="module-6__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_6.svg" alt="">
      <div class="module-6__col-capture">
        <p>Teaches life-changing habits with a clinical basis</p>
      </div>
    </div>
    <div class="module-6__col">
      <img class="module-6__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_7.svg" alt="">
      <div class="module-6__col-capture">
        <p>Reduces MDD or GAD</p>
      </div>
    </div>
    <div class="module-6__col">
      <img class="module-6__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_8.svg" alt="">
      <div class="module-6__col-capture">
        <p>Helps you build skills for a healthier mind and life</p>
      </div>
    </div>
  </div>
</section>
