<section class="ensemble-landing-module module-5">
  <h1 class="module-5__title">With Ensemble you can</h1>
  <div class="module-5__row">
    <div class="module-5__col">
      <img class="module-5__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_1.svg" alt="">
      <div class="module-5__col-capture">
        <p>Focus on more positive experiences in your life</p>
      </div>
    </div>
    <div class="module-5__col">
      <img class="module-5__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_2.svg" alt="">
      <div class="module-5__col-capture">
        <p>Change negative thinking patterns</p>
      </div>
    </div>
    <div class="module-5__col">
      <img class="module-5__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_3.svg" alt="">
      <div class="module-5__col-capture">
        <p>Engage in activities that reflect your values</p>
      </div>
    </div>
    <div class="module-5__col">
      <img class="module-5__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_4.svg" alt="">
      <div class="module-5__col-capture">
        <p>Engage in activities that reflect your values</p>
      </div>
    </div>
    <div class="module-5__col">
      <img class="module-5__col-img" src="{{ ENV_STATIC_ASSETS_URL }}/svg/frame_5.svg" alt="">
      <div class="module-5__col-capture">
        <p>Learn to focus attention on things that help advance your goals and make you feel good</p>
      </div>
    </div>
  </div>
</section>  