<section class="ensemble-landing-module module-9">
  <div class='module-9__container'>
    <h4 class="module-9__title">Understanding Depression & Anxiety</h4>
    <div class="module-9__row">
      <div class="module-9__item module-9__item_left">
        <p class='module-9__item-content'>Depression isn't just in the mind. It can make you so fatiqued even the "simple things" like having a shower can feel impossible.</p>
        <div class="module-9__item-hashtag">#depression</div>
      </div>
      <div class="module-9__item module-9__item_middle">
        <p class="module-9__item-content">Social anxiety is so much more than just feeling nervous in public. It's a real illnes than can feel debilitating. Be mindful about it.</p>
        <div class="module-9__item-hashtag">#anxiety</div>
      </div>
      <div class="module-9__item module-9__item_right">
        <p class="module-9__item-content">Depression isn't just pill bottles, it's also faking a smile, social isolation, being emotionally distant...</p>
        <div class="module-9__item-hashtag">#depression</div>
      </div>
    </div>
  </div>
</section>  
