<section class="landing-module module-7">
  <img src="{{ ENV_STATIC_ASSETS_URL }}/svg/shape_2.svg" alt="" class="module-7__shape-container">
  <div class='module-7__container'>
    <h1 class="module-7__title">Innovation That Works</h1>
    <p class="module-7__content">Fully digital and engaging—Ensemble is focused on you and your progress. If you’re already seeing a therapist of healthcare provider for MDD or GAD, they may suggest adding Ensemble to your treatment plan. If you’re not already receiving treatment of any kind, you can tap here to get connected to one now and see if Ensemble is right for you.</p>
    <div class='module-7__carousel'>
      <ul class='module-7__carousel-control'>
        <li class='module-7__carousel-item'></li>
        <li class='module-7__carousel-item'></li>
      </ul>
      <div class='module-7__carousel-slide'>
        Please note: that patients who use Ensemble will automatically be a participant in our research study.
      </div>
    </div>
  </div>
</section>  



  