.module-1, .module-7 {
  background: none;
  color: @CloudWhite;
}

.module-2 {
  background-color: @Seafoam;
  color: @SeabedBlue;
}

.module-3, .module-5 {
  background-color: @BlushOrange;
  color: @SeabedBlue;
}

.module-4, .module-6 {
  background-color: @Pebble;
  color: @SeabedBlue;
}
