&,
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neue World Light', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
}

h1 {
  font-size: 8.6rem;
}

h2 {
  font-size: 7.5rem;
}

h3 {
  font-size: 4.6rem;
}

p,
a {
  color: inherit;
}

button {
  height: auto;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
}

section {
  background-color: transparent;
}

footer {
  position: inherit;
  padding: 0;
  font-family: inherit;
  background: none;
  box-shadow: none;
}
