&, * {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;

  font-family: 'Neue World';
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: 120px;
  line-height: 110px;
}

h2 {
  font-size: 100px;
  line-height: 115px;
}

h3 {
  font-size: 80px;
  line-height: 90px;  
}

h4 {
  font-size: 60px;
  line-height: 75px;
}

p, a {
  color: inherit;
}

section {
  background-color: transparent;
}
