//@import "groups.less";

.landing-header {
  background: none;
  color: @CloudWhite;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__logo {
    padding: 20px 40px;
  }
  &__navmenu {
    padding: 20px 40px;
  }  
  @import "header.less";
}

.landing-footer {
  background: none;
  color: @CloudWhite;
}

.landing-module {
  min-height: 160px; /* just for debug */
  width: 100%;
  overflow-x: hidden;
}

