@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/GT Walsheim/GT-Walsheim-Regular.otf');
  src:
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff2') format("woff2"),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff') format('woff'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/GT Walsheim/GT-Walsheim-Regular.otf');
  src:
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff2') format("woff2"),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff') format('woff'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.ttf') format('truetype');
}
