@font-face {
  font-family: 'GT Walsheim Light';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.otf');
  src:
    url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.woff2') format('woff2'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.woff') format('woff'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim Light';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.otf');
  src:
    url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.woff2') format('woff2'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.woff') format('woff'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Condensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/GT Walsheim/GT-Walsheim-Regular.otf');
  src:
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff2') format('woff2'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff') format('woff'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/GT Walsheim/GT-Walsheim-Regular.otf');
  src:
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff2') format('woff2'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.woff') format('woff'),
    url('static/fonts/GT Walsheim/GT-Walsheim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue World';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.eot');
  src:
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.otf')
    format('opentype'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.woff2')
    format('woff2'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.woff')
    format('woff'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Neue World';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.eot');
  src:
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.otf')
    format('opentype'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.woff2')
    format('woff2'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.woff')
    format('woff'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedRegular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Neue World Thin';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.eot');
  src:
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.otf')
    format('opentype'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.woff2')
    format('woff2'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.woff')
    format('woff'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Neue World Thin';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.eot');
  src:
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.otf')
    format('opentype'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.woff2')
    format('woff2'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.woff')
    format('woff'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedThin.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Neue World Light';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.eot');
  src:
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.otf')
    format('opentype'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.woff2')
    format('woff2'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.woff')
    format('woff'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Neue World Light';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.eot');
  src:
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.otf')
    format('opentype'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.woff2')
    format('woff2'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.woff')
    format('woff'),
    url('static/fonts/Neue World/NeueWorld-SemiExtendedLight.ttf')
    format('truetype');
}
