<header class="landing-header">
  <div class="landing-header__logo logo">
    <p class="logo__ensemble">ensemble</p>
    <p class="logo__poweredby">by Happify Health</p>
  </div>
  <ul class="landing-header__navmenu navmenu">
      <li class="navmenu__item"><a class="link">Patients</a></li>
      <li class="navmenu__item"><a class="link">Healthcare Providers</a></li>
      <li class="navmenu__item"><button class="round-button">Get your prescription</button></li>
      <li class="navmenu__item"><button class="toggle-button">=</button></li>
  </ul>
</header>  