@BlushOrange: #ff775d;
@Sandstone: #c6bead;
@SeabedBlue: #1d4557;
@Seafoam: #abcacf;
@CloudWhite: #ffffff;
@Slate: #838383;
@Pebble: #e8e6df;
@Jacaranda: #966fb2;
@Pacific: #3b9bd8;
@Charcoal: #303030;
@MilkyCoffee: #f8f2ea;
