/* JUST DEV INDEX PAGE */
.landings-index {
  margin: 20px 40px;
  line-height: 1.5;

  .landings-list {
    list-style-type: none;
    margin: 20px 0;
  }

  .shell {
    white-space: pre-wrap;
    background-color: hsl(212, 28%, 18%);
    color: hsl(236, 33%, 90%);
    border: 1px solid hsla(0,0%,0%,.5);    
    padding: 2px 4px;
    border-radius: 3px;
  }
}

/* COMMON LANDING STYLES */
/* TODO turn to separate file */

@import "common/theme.less";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  --box-sizing: border-box;
}

h1 {
  font-family: 'Neue World';
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 110px;
}

h2 {
  font-family: 'Neue World';
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 115px;
}

h3 {
  font-family: 'Neue World';
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 90px;  
}

h4 {
  font-family: 'Neue World';
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
}

.landing {
  width: 100%;
  text-align: center;

  .tape {
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;

    background-color: @SeabedBlue; /* TODO delete this rule abd wrap modules templates/Landing_Patients.html to the div.group-SeabedBlue group */

    @import "common/components.less";
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.Landing_Patients {
  @import "Landing_Patients/styles.less";
}

.Landing_Physicians {
  @import "Landing_Physicians/styles.less";
}

.Landing_Science {
  @import "Landing_Science/styles.less";
}

.Landing_FAQs {
  @import "Landing_FAQs/styles.less";
}

.Landing_Anna {
  @import "Landing_Anna/styles.less";
}
