<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ensemble Landing Pages set preview</title>
  <link rel="stylesheet" href="styles.css">  
</head>
<body class="landings-index">
  <p>Here are public pages according to <a href="https://www.figma.com/file/9POgor5LFGt3gxR9qkKlYi/%5BExternal%5D-Ensemble-Design" target="_blank">the design</a></p>
  <p><span class="shell">jinja2</span> and <span class="shell">less</span> commandline transpilers are used</p>
  <p>Render data for <span class="shell">jinja2</span> is in <span class="shell">config.json</span> file</p>
  <hr>
  <ul class="landings-list">
    <li><a class="landings-list__landing-instance" href="Landing_Patients.html">Landing_Patients</a></li>
    <li><a class="landings-list__landing-instance" href="Landing_Physicians.html">Landing_Physicians</a></li>
    <li><a class="landings-list__landing-instance" href="Landing_Science.html">Landing_Science</a></li>
    <li><a class="landings-list__landing-instance" href="Landing_FAQs.html">Landing_FAQs</a></li>
    <li><a class="landings-list__landing-instance" href="Landing_Anna.html">Landing_Anna</a></li>
  </ul>
</body>
</html>