{% extends "common/base.html" %}

{% block title %}
  Landing_Patients
{% endblock %}

{% block bodyClasses %}landing Landing_Patients{% endblock %}

{% block content %}
  <!-- <p> Developing using Jinja templates with config.json properties {{ TEST_PROPERTY }} {{ENV_STATIC_ASSETS_URL}} </p> -->
  {% include "Landing_Patients/module-1.html" %}
  {% include "Landing_Patients/module-2.html" %}
  <div class="group-Seafoam">
    {% include "Landing_Patients/module-3.html" %}
    {% include "Landing_Patients/module-4.html" %}
    {% include "Landing_Patients/module-5.html" %}
    {% include "Landing_Patients/module-6.html" %}
  </div>
  <div class="group-BlushOrange">
    {% include "Landing_Patients/module-7.html" %}
    {% include "Landing_Patients/module-8.html" %}
    {% include "Landing_Patients/module-9.html" %}
    {% include "Landing_Patients/module-10.html" %}
  </div>
</div>
{% endblock %}
