{% extends "common/base.html" %}

{% block title %}
Landing_Anna
{% endblock %}

{% block bodyClasses %}ensemble-landing Landing_Anna{% endblock %}

{% block content %}
  <div class="ensemble-landing-group group-Seafoam">
    {% include "common/modules/module-header.html" %}
    {% include "Landing_Anna/module-1.html" %}
  </div>
  <div class="ensemble-landing-group group-SeabedBlue">
    {% include "Landing_Anna/module-2.html" %}
  </div>
  <div class="ensemble-landing-group group-Pebble">
    {% include "Landing_Anna/module-3.html" %}
  </div>
  <div class="ensemble-landing-group group-BlushOrange">
    {% include "Landing_Anna/module-4.html" %}
    {% include "common/modules/module-stay-informed.html" %}
    {% include "common/modules/module-footer.html" %}
  </div>
{% endblock %}
