{% extends "common/base.html" %}

{% block title %}
  Landing_Science
{% endblock %}

{% block bodyClasses %}landing Landing_Science{% endblock %}

{% block content %}
  <div class="group-Jacaranda group-Jacaranda_top">
    {% include "common/modules/module-header.html" %}
    {% include "Landing_Science/module-1.html" %}
    {% include "Landing_Science/module-2.html" %}
  </div>
  <div class="group-SeabedBlue">
    {% include "Landing_Science/module-3.html" %}
  </div>
  <div class="group-Seafoam">
    {% include "Landing_Science/module-4.html" %}
  </div>
  <div class="group-Jacaranda group-Jacaranda_bottom">
    {% include "common/modules/module-stay-informed.html" %}
    {% include "common/modules/module-footer.html" %}
  </div>
{% endblock %}