.ensemble-landing-module {
  position: relative;
  min-height: 160px; /* just for debug */
  width: 100%;
  overflow-x: hidden;
}

@import "module-header.less";
@import "module-footer.less";
@import "module-stay-informed.less";
