@import 'page-header.less';
@import 'module-footer.less';
@import 'module-stay-informed.less';

.ensemble-landing-module {
  position: relative;

  /* min-height: 16rem; just for debug */
  width: 100%;
  overflow-x: hidden;
}
