<footer class="ensemble-landing-module module-footer">
  <div class="logo">
    {% include "common/modules/logo.html" %}
  </div>
  <div class="links">
    <ul class="links__pages">
      <li>Patients</li>
      <li>Physicians</li>
      <li>Contact</li>
      <li>FAQs</li>
      <li>The Science</li>
    </ul>
    <ul class="links__stores">
      <li>App Store</li>
      <li>Google Play</li>
    </ul>
  </div>
  <svg class="divide-line" width="1170" height="4" viewBox="0 0 1170 4" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.2" d="M1170 1.00192C1170 2.10568 863.784 4 540.697 4C217.61 4 0 2.10568 0 1.00192C0 -0.101845 327.361 0.00264829 650.448 0.00264829C973.534 0.00264829 1170 -0.101845 1170 1.00192Z" fill="white"/>
  </svg>
  <div class="terms">
    <ul class="terms__links">
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>GPDR Commitment</li>
    </ul>
    <div class="terms__copyright">
       <p>© Ensemble 2021  All rights reserved</p>
       <p>Ensemble does not provide medical advice, psychiatric diagnosis or treatment. All third-party trademarks, service marks, logos and domain names appearing on this web page are the property of their respective owners. None of these companies endorse, sponsor or are in any way affiliated with Happify.</p>
    </div>
    <div class="terms__tools">
      <a class="accessibility-link">Accessibility Options</a>
      <div class="language-selector">English</div>
    </div>
  </div>
</footer>