.module-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    padding: 2rem;
  }
  &__navmenu {
    padding: 2.4rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .navmenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'GT Walsheim', sans-serif;
    font-size: 1.6rem;

    &__item {
      padding-left: 3.1rem;
    }

    .link {
      cursor: pointer;
    }

    .get-started-button {
      padding: 1.5rem 7.4rem;
      font-family: 'GT Walsheim', sans-serif;
      color: @SeabedBlue;
      background-color: @BlushOrange;
      border-radius: 2.5rem;
      cursor: pointer;
    }

    .toggle-menu-button {
      background: none;
      cursor: pointer;  
    }

  }

}
