* {
  box-sizing: border-box;
}

.landing {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #1D4557;
}

.landing .tape {
  max-width: 1920px;
  min-height: 100vh;
  margin: 20px auto;
}

.stub {
  width: 100%;
}

.tape {
  background: #1D4557;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 110px;
  margin: 0;
}

.group-01 {
  clip-path: url(#mask-01);
  background-color: #ABCACF;
  margin-bottom: -200px;
  padding-bottom: 190px;
  overflow-x: hidden;
}

.group-02 {
  background-color: #FF775D;
  margin-bottom: -200px;
}

.group-03 {
  clip-path: url(#mask-02);
  background-color: #E8E6DF;
}

.module-03 {
  width: 94%;
  height: 1017px;
  margin-left: 209px;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 115px;
}

.module-03__title {
  color: #1D4557;
  width: 862px;
  position: absolute;
  left: 0;
  top: 497px;
}
.module-03__video {
  width: 1045px;
  height: 1017px;
  border: green;
  margin-left: 758px;
  clip-path: url(#mask-03);
  position: relative;
}

.module-03__button {
  background-color: #3B9BD8;
  clip-path: url(#mask-04);
  position: absolute;
  width: 112px;
  height: 111px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.module-03__button:hover {
  background-color: #fff;
}

.module-04 {
  width: 100%;
  height: 800px;
  display: flex;
}

.module-04__left {
  height: 100%;
  position: relative;
}

.module-04__texture {
  width: 442px;
  height: 100%;
  object-fit: cover;
}

.module-04__smartphone {
  width: 368px;
  height: 650px;
  position: absolute;
  top: 0;
  right: -85px;
}

.module-04__right {
  height: 100%;
  flex-grow: 1;
  padding-left: 242px;
}

.module-04__title {
  color: #1D4557;
  width: 682px;
  margin-bottom: 40px;
}

.module-04__content {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  width: 1009px;
  color: #1D4557;
  margin-bottom: 103px;
}

.module-04__button{
  margin-top: auto;
  width: 100%;
  height: 160px;
  background-color: #3B9BD8;
}


.content {
  width: 100%;
  height: 500px;
}
