.ensemble-landing-group {
  position: relative;
}

.group-BlushOrange {
  color: @SeabedBlue;
  background-color: @BlushOrange;
}

.group-Seafoam {
  color: @SeabedBlue;
  background-color: @Seafoam;
}

.group-Pebble {
  color: @SeabedBlue;
  background-color: @Pebble;
}

.group-SeabedBlue {
  color: @CloudWhite;
  background-color: @SeabedBlue;
}

.group-Jacaranda {
  color: @CloudWhite;
  background-color: @Jacaranda;
}

.group-Sandstone {
  color: @SeabedBlue;
  background-color: @Sandstone;
}

.group-MilkyCoffee {
  color: @SeabedBlue;
  background-color: @MilkyCoffee;
}
